# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/

# Training outputs
trained_models/
*.pth
*.out
*.err

# Data (large files)
data/derm7pt/release_v0/

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/
